html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
/*Header Style*/
.header {
  background-color: #7cbe5f;
}
.logo {
  color: white;
  padding: 8px 8px;
}
.searchbar {
  position: relative;
}
.searchbar .searchField {
  width: 100%;
  height: 35px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #fff;
}
.searchIcon {
  position: absolute;
  top: 9px;
  left: 12px;
}
.bellIcon {
  margin-top: 6px;
  /* margin-left: -40px; */
}
.calenderIcon {
  margin-top: 6px;
}

.search-Box {
  margin-right: 50px;
}
.circle {
  width: 34px;
  height: 34px;
  background: #fff;
  border-radius: 50px;
}
.help {
  color: white;
}

.submenu_font {
  margin-right: 3rem;
  font-size: 17px;
}

@media screen and (min-device-width: 768px) and (max-device-width: 960px) {
  .submenu_font {
    font-size: 9px;
    margin-right: 4px;
  }
}

@media screen and (min-device-width: 960px) and (max-device-width: 1024px) {
  .submenu_font {
    font-size: 14px;
    margin-right: 1rem;
  }
}

/* employee css */
.employee_profile_header {
  background: #000;
  color: #fff;
  position: relative;
  height: 6rem;
}

@media only screen and (max-width: 426px) {
  .employee_details {
    display: flex;
    justify-content: start;
  }

  .employee_sheet {
    padding: 3rem;
  }

  .employee_sheet_reponsive_header {
    display: none;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 800px) {
  .employee_details_header {
    font-size: 13px;
  }
}

.employee_general_manager {
  font-size: 10px;
  margin-left: 30px;
}

.employee_leave_balance {
  background: #8a42fe;
  border: 1px solid #8a42fe;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  height: 12rem;
  color: #fff;
}
.employee_view_details {
  background: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 4rem;
  color: #000;
}
.employee_avg_working {
  background: #a8cf45;
  border: 1px solid #a8cf45;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  height: 12rem;
  color: #fff;
}
.employee_open_position {
  background: #0076f2;
  border: 1px solid #0076f2;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  height: 12rem;
  color: #fff;
}
.employee_performance {
  background: #ff4048;
  border: 1px solid #ff4048;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  height: 12rem;
  color: #fff;
}
.employee_irregular {
  background: #284a97;
  border: 1px solid #284a97;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  height: 12rem;
  color: #fff;
}
.employee_visitors {
  background: #00a859;
  border: 1px solid #00a859;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  height: 12rem;
  color: #fff;
}

/* Birthday card */

.employee_container {
  border: 1px solid #fff;
  padding: 10px;
  box-shadow: 0px 0px 6px #e5e5e5;
  border-radius: 6px;
}

.birth_circle {
  width: 26px;
  height: 26px;
  background: #fff;
  border-radius: 50px;
  background: #7cbe5f;
  position: absolute;
  display: flex;
  right: 32px;
  top: 8px;
  justify-content: center;
  align-items: center;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .birth_circle {
    top: 16px;
  }
}

.text-block {
  position: absolute;
  margin-right: 20px;
  /* margin-top: -30px; */
  right: 20px;
  background-color: white;
  color: black;
  padding: 1px 4px;
  border-radius: 4px;
}

.employee_birthday_container {
  /* background-color: rgb(rig, 58, 58); */
  background-image: url('../img/Birthdays.png');
  height: 4rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.employee_myteam_container {
  /* background-color: rgb(rig, 58, 58); */
  background: #373435;
  height: 4rem;
  /* background-repeat: no-repeat; */
  background-size: cover;
  border-top-left-radius: 6px;
}
.employee_anniversary_container {
  /* background-color: red; */
  background-image: url('../img/Anniversary.png');
  height: 4rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.employee_ToDo_container {
  /* background-color: red; */
  background-image: url('../img/ToDo.png');
  height: 4rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.employee_QuickLinks_container {
  /* background-color: red; */
  background-image: url('../img/QuickLinks.png');
  height: 4rem;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .employee_QuickLinks_container {
    margin-top: 10px;
  }
  .employee_ToDo_container {
    margin-top: 10px;
  }
  .employee_anniversary_container {
    margin-top: 10px;
  }
  .employee_birthday_container {
    margin-top: 10px;
  }
  .employee_myteam_container {
    margin-top: 10px;
  }
}

.todo_header {
  font-size: 14px;
}

@media only screen and (max-width: 320px) {
  .todo_header {
    font-size: 10px;
  }
}

@media screen and (min-device-width: 321px) and (max-device-width: 375px) {
  .todo_header {
    font-size: 12px;
  }
}
