.login_main_image_wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .login_main_image_wrapper {
    display: none;
  }
}

.login_image {
  height: 56rem;
}
@media only screen and (max-width: 1440px) and (min-width: 1024px) {
  .login_image {
    height: 46rem;
  }
}

.login_wrapper {
  background: #f5fbfc;
  height: 100vh;
}

.login_logo {
  display: flex;
  justify-content: center;
  padding-top: calc(100% - 64%);
}

.login_input {
  padding: 6rem 4rem 0 6rem;
}

.input_box {
  display: block;
  height: 38px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #8e8e93;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #c7c7cc;
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 6px;
  border-color: #fff;
  box-shadow: 2px 5px 3px -6px #777;
  width: 90%;
}

.btn_wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn_custom {
  background: #2a4999;
  color: #fff;
  width: 26%;
}

@media only screen and (max-width: 425px) {
  .btn_custom {
    width: 40%;
  }
}

.footer_end {
  margin-top: calc(100% - 90%);
}
.footer_policy {
  text-align: right;
  margin-top: calc(100% - 107%);
}

@media only screen and (max-width: 768px) {
  .footer_policy {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .footer_display_mobile {
    display: none;
  }
}
