html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
/*Header Style*/
.header {
  background-color: #7cbe5f;
}
.logo {
  color: white;
  padding: 8px 8px;
}
.searchbar {
  position: relative;
}
.searchbar .searchField {
  width: 100%;
  height: 35px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #fff;
}
.searchIcon {
  position: absolute;
  top: 9px;
  left: 12px;
}
.bellIcon {
  margin-top: 6px;
  /* margin-left: -40px; */
}
.calenderIcon {
  margin-top: 6px;
}

.search-Box {
  margin-right: 50px;
}
.circle {
  width: 34px;
  height: 34px;
  background: #fff;
  border-radius: 50px;
}
.help {
  color: white;
}

.submenu_font {
  margin-right: 5rem;
  font-size: 17px;
}

@media screen and (min-device-width: 768px) and (max-device-width: 960px) {
  .submenu_font {
    font-size: 13px;
    margin-right: 4px;
  }
}

/* @media screen and (max-device-width: 320px) {
  .collapse-burger-menu {
    margin-left: -12rem;
  }
  .collapse-navigation-menu {
    margin-left: 0rem;
  }
}
@media screen and (min-device-width: 321px) and (max-device-width: 375px) {
  .collapse-burger-menu {
    margin-left: -16rem;
  }
  .collapse-navigation-menu {
    margin-left: 0rem;
  }
}
@media screen and (min-device-width: 376px) and (max-device-width: 425px) {
  .collapse-burger-menu {
    margin-left: -18rem;
  }
  .collapse-navigation-menu {
    margin-left: 0rem;
  }
} */

.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #7cbe5f;
}

#navigation .nav-item .active {
  color: #7cbe5f;
}

@media screen and (min-device-width: 960px) and (max-device-width: 1024px) {
  .submenu_font {
    font-size: 16px;
    margin-right: 1rem;
  }
}

/* employee detsils css */

.search_container {
  background: #f1f1f1;
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.search_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.addemp_container {
  background: #f2eeee;
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.addemp_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.editemp_container {
  background: #f5f3dd;
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.editemp_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.bulk_container {
  background: #f1fff1;
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.bulk_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.poll_container {
  background: rgba(207, 255, 255, 0.35);
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.poll_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.forms_container {
  background: #f8f9fb;
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.forms_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.issue_container {
  background: #fcfcd7;
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.issue_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.post_container {
  background: #ffe8ee;
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.post_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.writepost_container {
  background: #ffe8ee;
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.writepost_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.activate_container {
  background: #f6eee1;
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.activate_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.reminder_container {
  background: #f2e5d5;
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.reminder_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.compolicy_container {
  background: #b6bafc;
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.compolicy_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.onboarding_container {
  background: #fbf3ec;
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.onboarding_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.chnageRepo_container {
  background: #ffd9d1;
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.chnageRepo_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.viewmanager_container {
  background: #e9e8ff;
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.viewmanager_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.openposition_container {
  background: #c9d0e9;
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.openposition_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.eseperation_container {
  background: #fffdf6;
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.eseperation_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.confirmprobation_container {
  background: #d3e3d3;
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.confirmprobation_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.organization_container {
  background: #fff2ce;
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.organization_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.groupemail_container {
  background: #f8f9fb;
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.groupemail_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.document_container {
  background: #face9b;
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.document_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.request_container {
  background: #d9ebeb;
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.request_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.report_container {
  background: #e1e1e1;
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.report_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.configure_container {
  background: #e1e7ef;
  border: 1px solid #f1f1f1;
  padding: 10px;
  box-shadow: 0px 0px 6px #f1f1f1;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.configure_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.offer_letter_container {
  background: #fbf7c5;
  border: 1px solid #fbf7c5;
  padding: 10px;
  box-shadow: 0px 0px 6px #fbf7c5;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.offer_letter_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.relieving_letter_container {
  background: #cfffe2;
  border: 1px solid #cfffe2;
  padding: 10px;
  box-shadow: 0px 0px 6px #cfffe2;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.relieving_letter_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.address_container {
  background: #e1eafe;
  border: 1px solid #e1eafe;
  padding: 10px;
  box-shadow: 0px 0px 6px #e1eafe;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.address_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.appointment_letter_container {
  background: #ddbffc;
  border: 1px solid #ddbffc;
  padding: 10px;
  box-shadow: 0px 0px 6px #ddbffc;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.appointment_letter_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.termination_letter_container {
  background: #ffd5d8;
  border: 1px solid #ffd5d8;
  padding: 10px;
  box-shadow: 0px 0px 6px #ffd5d8;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.termination_letter_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.appraisal_letter_container {
  background: #cbf0fc;
  border: 1px solid #cbf0fc;
  padding: 10px;
  box-shadow: 0px 0px 6px #cbf0fc;
  border-radius: 6px;
  height: 14rem;
  margin: 10px;
}
.appraisal_letter_container:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.active_btn {
  background: #169a0c;
  width: 70%;
  border-color: #169a0c;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #169a0c;
  padding: 6px;
}
.deactive_btn {
  background: #ff0101;
  width: 70%;
  border-color: #ff0101;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #ff0101;
  padding: 6px;
}
.fnf_btn {
  background: #ff621c;
  width: 70%;
  border-color: #ff621c;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #ff621c;
  padding: 6px;
}
.cancel_btn {
  background: #0064fb;
  width: 70%;
  border-color: #0064fb;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #0064fb;
  padding: 6px;
}

.set_btn {
  height: 30px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.16);
  background-color: #7cbe5f;
  color: #fff;
}

.cancel_btn {
  height: 30px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #707070;
  background-color: #ffffff;
  color: #191919;
}

@media screen and (max-width: 766px) {
  .cancel_btn {
    margin-top: 12px;
  }
}
@media screen and (min-width: 768px) {
  .modal-custom {
    margin-left: -38rem;
  }
}

@media screen and (min-device-width: 901px) and (max-device-width: 1024px) {
  .modal-custom {
    margin-left: -48rem;
  }
}

@media screen and (min-device-width: 1025px) {
  .modal-custom {
    margin-left: -76rem;
  }
}
